<h1> Please Verify The Information Below</h1>


<h4>Your Full Name:</h4> <%= @user.fullname %>
<br>
</h4>
<h4>Your Address:</h4> <%= @user.address %>
<br>

<h4>Your City: </h4><%= @user.city %>
<br>

<h4>Your State:</h4> <%= @user.state %>
<br>

<h4>Your Postal Code:</h4> <%= @user.postal %>
<br>

<h4>Your Country:</h4> <%= @user.country %>
<br>

<h4>Your Email: </h4><%= @user.email %>
<br>

<h4>Your Username:</h4> <%= @user.user %>
<br>

<h4>Your Password:</h4> <%= @user.password %>
<br>
